{% extends "app/base.html" %}
{% load hash %}
{% block content %}
    <h1>Persons</h1>
    <a href="{% url 'person_add' %}">Add new</a>
    <ul>
        {% for p in persons %}
            <li>
                <a href="{% url 'person_edit' p.id %}">Edit</a> {{ p.FirstName }} {{ p.LastName }} {{ addresses|address:p.AddressId }}
            </li>
        {% endfor %}
    </ul>
    <h1>Addresses</h1>
    <a href="{% url 'address_add' %}">Add new</a>
    <ul>
        {% for a in addresses.itervalues %}
            <li>
                <a href="{% url 'address_edit' a.id %}">Edit</a> {{ a.id }}, {{ a.Street }}, {{ a.City }}, {{ a.State }}, {{ a.Country }}, {{ a.updated }}
            </li>
        {% endfor %}
    </ul>
    <script>

    </script>
{% endblock %}