{% extends "app/base.html" %}
{% block head %}
    <style>
        label {
            width: 100px;
        }

        li {
            list-style-type: none;
        }

        .panel {
            background-color: lightskyblue;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">Address edit</span></a>
        </div>
        <div class="panel-body">

            <form action="{% url 'address_edit' id %}" method="post">
                {% csrf_token %}
                {{ form.as_ul }}
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>
{% endblock %}