{% extends "app/base.html" %}
{% load hash %}
{% block head %}
    <style>
        li {
            list-style-type: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">Persons</span> <a href="{% url 'person_add' %}" title="Add"><span
                class="glyphicon glyphicon-plus-sign"></span></a>
        </div>
        <div class="panel-body">


            <ul class="list-group">
                {% for p in persons %}
                    <li class="list-group-item">
                        <a href="{% url 'person_edit' p.id %}"><span
                                class="glyphicon glyphicon-pencil"></span></a> {{ p.FirstName }} {{ p.LastName }} {{ addresses|address:p.AddressId }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">Addresses</span> <a href="{% url 'address_add' %}"><span
                class="glyphicon glyphicon-plus-sign"></span></a>
        </div>
        <div class="panel-body">

            <ul class="list-group">
                {% for a in addresses.itervalues %}
                    <li class="list-group-item">
                        <a href="{% url 'address_edit' a.id %}"><span
                                class="glyphicon glyphicon-pencil"></span></a> {{ a.id }}, {{ a.Street }}, {{ a.City }}, {{ a.State }}, {{ a.Country }}, {{ a.updated }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script>

    </script>
{% endblock %}